{% extends 'base.html.twig' %}

{% block title %}
    Créer un trophée
{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un trophée</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-outline-primary">Décerner le trophée</button>
    {{ form_end(form) }}
{% endblock %}



