{% extends 'base.html.twig' %}

{% block title %}
    Statistiques des équipes
{% endblock %}

{% block body %}
    <h1 class="text-center">Statistiques des équipes</h1>
    <hr>
    <div style="overflow-x: scroll;">
        <div class="chart-container" style="position: relative; width: 3600px; height: 600px;">
            {{ render_chart(scoredChart) }}
        </div>
    </div>
    <hr>
    <div style="overflow-x: scroll;">
        <div class="chart-container" style="position: relative; width: 3600px; height: 600px;">
            {{ render_chart(takenChart) }}
        </div>
    </div>
{% endblock %}



