{% extends 'base.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des tournois</h1>
    <hr>

    <div class="table-responsiv">
        <table class="table bs-table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date d'organisation</th>
            </tr>
            </thead>
            <tbody>
            {% for tournament in tournaments %}
                <tr>
                    <td>
                        <a class="text-black text-decoration-none" href="{{ path('tournament_view', {'id': tournament.id}) }}">
                            {{ tournament.name }}
                        </a>
                    </td>
                    <td>
                        Du {{ tournament.startedAt|date('d/m/Y') }} au {{ tournament.endedAt|date('d/m/Y') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
