@import "~bootstrap";
@import "~bootstrap-table";
@import "~select2/src/scss/core";
@import "~select2-bootstrap-5-theme/src/include-all";

$side-margin: 50px;
$vertical-margin: 10px;

* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #eee;
}

.wrapper{
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

.green-dot {
    height: 1em;
    width: 1em;
    background-color: #00851E;
    border-radius: 50%;
    display: inline-block;
}

.red-dot {
  height: 1em;
  width: 1em;
  background-color: #9B1F18;
  border-radius: 50%;
  display: inline-block;
}

.yellow-dot {
  height: 1em;
  width: 1em;
  background-color: #FFE849;
  border-radius: 50%;
  display: inline-block;
}

.item{
  display: flex;
  flex-direction: row-reverse;
  p{
    padding: 20px;
    margin: 0;
    background-color: white;
    border: 2px solid #222;
  }

  &-parent{
    position: relative;
    margin-left: $side-margin;
    display: flex;
    align-items: center;
    &:after{
      position: absolute;
      content: '';
      width: $side-margin/2;
      height: 2px;
      left: 0;
      top: 50%;
      background-color: #222;
      transform: translateX(-100%);
    }
  }
  &-childrens{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-child{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background-color: #222;
      right: 0;
      top: 50%;
      transform: translateX(100%);
      width: 25px;
      height: 2px;
    }
    &:after{
      content: '';
      position: absolute;
      background-color: #222;
      right: -$side-margin / 2;
      height: calc(50% + 22px) ;
      width: 2px;
      top: 50%;
    }
    &:last-child{
      &:after{
        transform: translateY(-100%);
      }
    }
    &:only-child:after{
      display: none;
    }
  }
}

$complete: #f68e20;
$active: #f68e20;
$mute: #e6e6e6;

.steps {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: darken($mute, 33%);
  height:4rem;

  > .step {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.875rem;
    color:#6D6875;

    &.win:before {
      background: #164e0a;
    }

    &.draw:before {
      background: #cb9f0d;
    }

    &.lose:before {
      background: #a1150e;
    }

    &:before {
      content: attr(data-step);
      display: block;
      border:2px solid $mute;
      color:$mute;
      width: 2rem;
      height: 2rem;
      text-align: center;
      margin: 0 auto 1rem;
      line-height: 1.9rem;
      border-radius: 100%;
      position: relative;
      z-index: 1;
      font-weight:700;
      font-size:1rem;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      background: $mute;
      width: 100%;
      height: 0.125rem;
      top: 1rem;
      left: 50%;
    }
    &:last-child:after {
      display: none;
    }
    &.is-complete {
      color:#6D6875;

      &:before {
        content:'\2713';
        color: $complete;
        background:#fef0e2;
        border:2px solid $complete;
      }
      &:after {
        background: $complete;
      }
    }
    &.is-active {
      font-size:1.5rem;

      &:before {
        color: #FFF;
        border:2px solid $complete;
        background: $active;
        margin-bottom: -4.9rem;
      }
    }
  }
}